{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is about page</h1>
                <p>This is a paragraph of text</p>
                <p>Информация из шаблона: {{ index .StringMap "example"}}</p>
            </div>
        </div>
    </div>
{{end}}